<h1><strong>About Me!</strong></h1>
<hr />
<div>

<!-- pic of me -->
<img src="../../Assets/images/me.png" alt="me" width="250" height="250" align="right" class="rounded" alt="...">

<!-- Who am I?: -->
 <form id="contactForm">
 <br />
 <p><h5><strong>Who am I? </strong></h5></p>
 <body>
<font size = "3">My name is Ananthan and I live in Toronto, Canada. I am currently enrolled in the Software Engineering fast track program at Centennial College and I have a Bachelor of Mechanical Engineering from the University of Ontario. I grew up with a passion for technology and everything related to this field. </font><br />
 <body>
<br />
<body>
<font size = "3">I find happiness in traveling. I have traveled to over 30 countries, although COVID 19 has put a damper on my travel plans as of late. </font><br />
 <body>
<br />
 <body>
<font size = "3">Please reach out to me if you would like to connect. My contact information can be found in the contact section. </font><br />
 <body>
<!-- Resume  -->
 <form id="contactForm">
 <br />
 <p><h5><strong>Resume: </strong></h5><font size = "1">(Click link below to see copy of my resume.)</font></p>
 
<!--resume pdf added-->
  <a href="../../Assets/pdf/resume.pdf"><strong>Resume </strong></a><br />


<!-- Certifications pdf added: -->
 <form id="contactForm">
 <br />
 <p><h5><strong>Certifications: </strong></h5><font size = "1">(Click link below to see copies of the certificates.)</font><br /></p>
 

  <!--PMP pdf added-->
  <a href="../../Assets/pdf/PMP.pdf"><img class="icon-logo" src="../../Assets/images/pmp.png" alt="PMP" width="90 height="120" /><strong>Project Management Professional (PMP) </strong></a><br />
<!--APICS pdf added-->
  <a href="../../Assets/pdf/apics.pdf"><img class="icon-logo" src="../../Assets/images/apics.png" alt="PMP" width="90 height="120" /><strong>Certified Supply Chain Professional (CSCP) </strong></a>

