<h1><strong>Welcome to my page!</strong></h1>
<hr />
<div>

<!-- Who am I?: -->
 <form id="contactForm">
 <br />
 <p><h5><strong>Mission Statement:  </strong></h5></p>
 <body>
<font size = "3">Highly organized and detail-oriented professional with many years of experience providing engineering and supply chain services. Demonstrated a successful track record of managing small to large projects from start to finish. Has a lengthy track record of successful networking, analytical thinking, and creative problem-solving. Able to work under pressure, effective at multitasking, and able to accomplish overall organization objectives.</font><br />
 <body>

 <br />
<a class="btn btn-secondary btn-sm" href="/about" role="button">Find out more about me here!</a>

