<h1><strong>My Projects!</strong></h1>
<hr />
<div>
  
  
  <!-- Major Projects -->
 <form id="contactForm">
 <br />
 <p><h5><strong>Saunders Overhaul</strong></h5></p>
 <p>
<!-- Project 1 -->
<img src="../../Assets/images/saunders.png" alt="saunders" width="250" height="250"  class="rounded" alt="...">
<br />
 <body>
<font size = "3">Completed Procurement of the Saunders Overhaul on behalf of Ontario Power Generation. Located on the St Lawrence river in Cornwall, the 16 units hydro electric generating station with a maximum continous rating of 1045 MW need major refurbishment to be completed.  </font><br />
 <body>
  <body>
<font size = "3">Project Size: 100M</font><br />
<font size = "3">Role: Supply Chain Expert</font><br />
 <body>
<br />

<!-- Project 2 -->
 <p><h5><strong>Canadian Colleges Application System</strong></h5></p>
<img src="../../Assets/images/ccas.png" alt="ccas" width="100" height="200" align="below" class="rounded" alt="...">
<br />
 <body>
<font size = "3">The group identified an existing need for a more effective and centralized approach to facilitate applications for Canada’s public colleges, specifically for international students. We called this system, the Canadian Colleges Application System (“CCAS”). Current system is limited to residents of Ontario to apply and reap the benefits of a more streamlined process. However, this system’s inefficiencies start to gleam forward when an international student applies. We wanted to make a system that communicates with existing portals and agencies that are independently available to international student based on which part of the world you are from.  </font><br />
 <body>
  <body>
<font size = "3">Project Size: Final Project for COMP224</font><br />
<font size = "3">Role: Group Member</font><br />
 <body>
<br />

<!-- Project 3 -->
 <p><h5><strong>RFP Evaluation Datasheet</strong></h5></p>
<img src="../../Assets/images/supplychain.png" alt="ccas" width="50" height="75" align="below" class="rounded" alt="...">
<br />
 <body>
<font size = "3"> Integration of an automated RFP evaluation criteria. I built a simple system that tracks and validates scorring of various evaluators and consolidates it into a a central database.  </font><br />
 <body>
  <body>
<font size = "3">Project Size: Continiuous improvement for OPG</font><br />
<font size = "3">Role: Employee</font><br />
 <body>
<br />
